body{
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

#nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(138, 0, 51);
  align-items: center;
  padding: 0px 20px;
  height: 100px;
}
#nav h1{
  font-size: 70px;
}
#nav div{
  
  display: flex;
  gap: 40px;
  font-size: larger;
 
}
.lin{
  font-size: large;
 color: white;
}

.con,.home,.about{
  font-size: 220px;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  text-decoration: blueviolet underline;
}