*{
  margin: 0;
  padding: 0;

}
body{

  background-color: aliceblue;
  color: black;
  background-color: #F0F0F0;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}

.parent{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.top img{
  width: 30px;
  height:30px;
  border-radius: 50%;
}

.card{
  background-color: white;
  border-radius: 20px;
  width: 257px;
  height: 280px;
  padding: 20px;
  position: relative;
}

.top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.top button{
  background-color: transparent;
  border-radius: 6px;
  border: 1.5px solid #AFAFAF;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 24px;
  color: #AFAFAF;
}

.logo{
  width: 15px;
  font-weight: bold;
  margin-left: 2px;
  object-fit: contain;
}

.circle{
  width: 37px;
  height: 37px;
  border: 2px solid #AFAFAF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centre h3{
  font-size: 16px;
  margin-top: 19px;
}
.centre h3 span{
  font-size: 10px;
  font-weight: normal;
  color: #AFAFAF;
}

.centre h2{
  font-size: 20px;
  margin-top: 7px;
}
.centre div{
  display: flex;
  gap: 4px;
  margin-top: 10px;
}
.centre div h4{
  color: black;
  font-size: 12px;
  font-weight: 550;
  border-radius: 7px;
  padding: 5px 9px;
  background-color: rgb(231, 227, 227);
}

.bottom{
  border-top: 2px solid #F0F0F0;
  display: flex;
  width: 88%;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  padding-top:20px ;
}

.bottom h3{
  font-size: 17px;
  font-weight: 550;
}
.bottom p{
  margin-top: 5px;
  font-size: 10px;
  font-weight: normal;
  color: #AFAFAF;

}

.bottom button{
  background-color: black;
  border-radius: 6px;
  font-size: 14px;
  color: white;
  border: none;
  width: 95px;
  height: 32px;
}